html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;

}
body{
    background-attachment: fixed;
    background-size: auto;
    margin: auto
}
.home{
    margin: 20%;
}
.travel{
    margin: 20%;
}
.text_board{
    
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 20px;
}
